{% extends "base.html" %}
{% block title %}Devolver{% endblock %}

{% block content %}
    <h1>Devolver libro</h1>

    <form method="post" novalidate>
        {{ form.hidden_tag() }}

        <div>
        <label for="{{ form.socio_codigo.id }}">{{ form.socio_codigo.label }}</label>
        {{ form.socio_codigo }}
        {% for error in form.socio_codigo.errors %}
            <p role="alert">{{ error }}</p>
        {% endfor %}
        </div>

        {{ form.submit }}
    </form>
{% endblock %}
