{% extends "base.html" %} <!-- Hereda la plantilla base -->
{% block title %}Editar libro{% endblock %} <!-- Título de la página -->

{% block content %} <!-- Bloque principal -->
    <h1>Detalles del libro</h1>

    <p><strong>Título:</strong> {{ libro.titulo }}</p> <!-- Muestra el título actual -->
    <p><strong>Autor:</strong> {{ libro.autor }}</p> <!-- Muestra el autor actual -->
    <p><strong>Resumen:</strong> {{ libro.resumen }}</p> <!-- Muestra el resumen actual -->

    <h1>Editar libro con flask-WTF</h1> <!-- Sección del formulario de edición -->

    {% include 'componentes/libro_form.html' %} <!-- Reutiliza el formulario común de libro -->
{% endblock %} 
