<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi aplicación{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>

<header>
    <nav>
        <a href="{{ url_for('navigation.inicio') }}">Inicio</a>
        <a href="{{ url_for('libros.listar') }}">Libros</a>
        <a href="{{ url_for('libros.disponibles') }}">Disponibles</a>
        <a href="{{ url_for('libros.buscar') }}">Buscar libros</a>       
        <a href="{{ url_for('socios.buscar') }}">Buscar socios</a>
        <a href="{{ url_for('libros.devolver') }}">Devolver</a>
        <a href="{{ url_for('socios.listar') }}">Socios</a>
        <a href="{{ url_for('libros.prestamos') }}">Préstamos</a>

        {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}">Login</a>
        {% endif %}
</nav>

</header>

<main>
    <main>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flash">
            {% for category, msg in messages %}
            <li class="{{ category }}">{{ msg }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</main>
</main>
<footer>
    <p>&copy; 2025 Mi aplicación</p>
</footer>
</body>
</html>
